*{
    font-family:'Bruno Ace SC', cursive;
    padding: 0px;
    margin: 0px;

}

body{
    background-color: #212121; 
}


#body-main{
    text-align: center;

}

#space-bg{

    display: inline-block;
    background-image: url('../client/img/new3.png'); 
    height:1920px;
    width:1440px;
    background-size: 1440px 1920px ;

}

#game-frame{
    background-color: #2A2438;
    position: absolute;
    top: 50%; 
    left:16.0%;

    width: 1000px;
    height: 1080px;
    border-radius: 10%;
    
}

#gameOptions{
    background-color: #5C5470;
    width:800px; 
    height:200px;
    display: inline-block;
    margin: 70px 0px 0px;
    border-radius: 10%;
}

.navButton{
    background-color: #5C5470;
    background-image : url('../client/img/button/navButton.png');
    color: aliceblue; 
    
    
    border: none;
    background-size: cover;
    width: 197px;
    height: 64px;
    font-size: 1.2rem;
}

.navButton:hover{
    background-image : url('../client/img/button/navButton-selected.png');
    background-size: cover;


}

.navButton:active{
    background-image : url('../client/img/button/navButton-active.png');
    color:#ED0CEF;
    background-size: cover;
    
}

#WorldButton{
    position: absolute;
    background-image: url('../client/img/button/WorldButton.png');
    top: 18%;
    right:12%;
    transform: translate(-50% , -50%);
    font-size: 2rem;


    width: 384px;
    height:128px;
    
}

#WorldButton:hover{
    background-image : url('../client/img/button/WorldButton-selected.png');
    background-size: cover;

}

#WorldButton:active{
    background-image : url('../client/img/button/WorldButton-active.png');
    background-size: cover;
    color: #14FFEC;
}

#HangarButton{
    position: absolute; 
    transform: translate(-50% , -50%);
    left: 20%; 
    top: 15%;

}
#ShopButton{
    position: absolute; 
    transform: translate(-50% , -50%);
    top: 15%; 
    left: 79%;

}

#div-gameCanvas{
    margin: 10px auto;
    background-color: #5C5470;
    width: 960px;
    height: 544px;
    

}

#gameCanvas{
    position: absolute;
    top: 50.8%;
    transform: translate(-50% , -50%);
    background-color: #000000;
    

}

.game-ships{
    display: none;
}

.gameplay-background{
    display: none;
}

#registration-div{
    width: 960px; 
    height:544px;
    background-image: url('../client/img/registration_wallpaper.png');
    background-size: cover;
}

#registration-div-signIn {
    background-color: rgba(255, 255, 255, 0);

}

#registration-div-signUp{
    background-image: url('../client/img/button/WorldButton.png');
    background-size: cover;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    width: 197px;
    height: 64px;
    font-size: 1.2rem;
    color:aliceblue;
}

#registration-div-signUp:hover{
    background-image : url('../client/img/button/WorldButton-selected.png');
    background-size: cover;
}

#registration-div-signUp:active{
    background-image : url('../client/img/button/WorldButton-active.png');
    background-size: cover;
    color: #14FFEC;

}

#registration-div-inputs{
    position: relative; 
    top:10%; 
    font-size: 2rem;
    color: aliceblue;
}

#registration-div-buttons{
    position: relative;
    top:20%;
}

.input-div-ui{
    width: 384px; 
    height: 128px;
    background-image: url('../client/img/input-canvas.png');
    background-size: cover;
    background-color: rgba(255, 255, 255, 0);
    border : 0;
    display: inline-block;
}

.registration-input{
    position: relative; 
    top: 17%; 
    width : 270px; 
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    border : 0 solid;
    outline:none;
    font-size: 2.1rem;
    color:aliceblue;


}

.registration-input:focus{
    border: 0 solid;
    outline: none;
}

#laser-pink{
    display: none;
}













